{% extends 'base.html' %}
{% block content %}
<div class="container">
    <h1>Create Breeding Request</h1>
    <form method="POST" action="{% url 'create_culling_request' %}">
        {% csrf_token %}
        {{ form.as_p }}

        <button type="submit" class="btn btn-primary">Submit Culling Request</button>
        <a href="{% url 'all_requests' %}" class="btn btn-secondary">Back</a>
    </form>

    {% if form.errors %}
        <div class="alert alert-danger">
            <ul>
                {% for field, errors in form.errors.items %}
                    <li>{{ field }}: {{ errors|join:", " }}</li>
                {% endfor %}
                {% for error in form.non_field_errors %}
                    <li>{{ error }}</li>
                {% endfor %}
            </ul>
        </div>
    {% endif %}
</div>
{% endblock %}