<!-- password_reset_form.html -->
{% extends 'base.html' %}

{% block content %}
    <h1>Password Reset</h1>

    <p>Enter your email address to receive a password reset link.</p>

    <form method="post">
        {% csrf_token %}
        
        <div class="form-group">
            <label for="{{ form.email.id_for_label }}">Email</label>
            {{ form.email }}  <!-- Render the email field -->
        </div>
        
        <button type="submit" class="btn btn-primary">Reset My Password</button>
    </form>
{% endblock %}