{% extends 'base.html' %}

{% block content %}
  
<h1>Welcome, {{ user.username }}!</h1>
<p>You are logged in.</p>
<div class="header-container">
    <h1>Mice</h1>
    {% if user.role == 'leader' %}
    <a href="{% url 'add_mouse' %}" class="btn btn-primary add-record-btn">
        <i class="fas fa-plus"></i> Add Mouse
    </a>
    {% endif %}
</div>
<table class="table table-striped table-hover table-bordered border-secondary">
    <thead class="table-primary">
        <tr> <!-- Headers for the inportant mouse information on the homepage-->
            <th scope="col">Mouse ID</th>
            <th scope="col">Strain</th>
            <th scope="col">Tube ID</th>
            <th scope="col">Date of Birth</th>
            <th scope="col">Sex</th>
            <th scope="col">Father</th>
            <th scope="col">Mother</th>
            <th scope="col">Earmark</th>
            <th scope="col">Clipped Date</th>
            <th scope="col">State</th>
            <th scope="col">Cull Date</th>
            <th scope="col">Weaned</th>
            <th scope="col">Weaned Date</th>
            <th scope="col">Genotype</th>
        </tr>
    </thead>
    <tbody>
        {% if mice %} <!-- If there are mice -->
            {% for mouse in mice %} <!-- Loop through all the mice -->
                {% if mouse.state == 'deceased' %} <!-- If mouse status is set to dead -->
                    {% with background_color='rgb(255, 148, 148)' %} <!-- change cell background colour for emphasis -->
                    <tr> <!-- Accessing and displaying information related to specific mice -->
                        <td style="background-color: {{ background_color }}">
                            <a href="{% url 'view_mouse' mouse.mouse_id %}">{{ mouse.mouse_id }}</a>
                        </td>
                        <td style="background-color: {{ background_color }}">{{ mouse.strain.name }}</td>
                        <td style="background-color: {{ background_color }}">{{ mouse.tube_id }}</td>
                        <td style="background-color: {{ background_color }}">{{ mouse.dob }}</td>
                        <td style="background-color: {{ background_color }}">{{ mouse.get_sex_display }}</td>
                        <td style="background-color: {{ background_color }}">
                            {% if mouse.father %}
                                <a href="{% url 'view_mouse' mouse.father.mouse_id %}">Mouse {{ mouse.father.mouse_id }}</a>
                            {% else %}
                                N/A
                            {% endif %}
                        </td>
                        <td style="background-color: {{ background_color }}">
                            {% if mouse.mother %}
                                <a href="{% url 'view_mouse' mouse.mother.mouse_id %}">Mouse {{ mouse.mother.mouse_id }}</a>
                            {% else %}
                                N/A
                            {% endif %}
                        </td>
                        <td style="background-color: {{ background_color }}">{{ mouse.get_earmark_display }}</td>
                        <td style="background-color: {{ background_color }}">{{ mouse.clipped_date }}</td>
                        <td style="background-color: {{ background_color }}">{{ mouse.get_state_display }}</td>
                        <td style="background-color: {{ background_color }}">{{ mouse.cull_date }}</td>
                        <td style="background-color: {{ background_color }}">{{ mouse.weaned|yesno:"Yes,No" }}</td>
                        <td style="background-color: {{ background_color }}">{{ mouse.weaned_date }}</td>
                        <td style="background-color: {{ background_color }}">{{ mouse.genotype }}</td>
                    </tr>
                    {% endwith %}
                {% elif mouse.state == 'to_be_culled' %} <!-- If mouse state is set to needs to be culled -->
                    {% with background_color='orange' %} <!-- Change cell background colour for emphasis -->
                    <tr>
                        <td style="background-color: {{ background_color }}">
                            <a href="{% url 'view_mouse' mouse.mouse_id %}">{{ mouse.mouse_id }}</a>
                        </td>
                        <td style="background-color: {{ background_color }}">{{ mouse.strain.name }}</td>
                        <td style="background-color: {{ background_color }}">{{ mouse.tube_id }}</td>
                        <td style="background-color: {{ background_color }}">{{ mouse.dob }}</td>
                        <td style="background-color: {{ background_color }}">{{ mouse.get_sex_display }}</td>
                        <td style="background-color: {{ background_color }}">
                            {% if mouse.father %}
                                <a href="{% url 'view_mouse' mouse.father.mouse_id %}">Mouse {{ mouse.father.mouse_id }}</a>
                            {% else %}
                                N/A
                            {% endif %}
                        </td>
                        <td style="background-color: {{ background_color }}">
                            {% if mouse.mother %}
                                <a href="{% url 'view_mouse' mouse.mother.mouse_id %}">Mouse {{ mouse.mother.mouse_id }}</a>
                            {% else %}
                                N/A
                            {% endif %}
                        </td>
                        <td style="background-color: {{ background_color }}">{{ mouse.get_earmark_display }}</td>
                        <td style="background-color: {{ background_color }}">{{ mouse.clipped_date }}</td>
                        <td style="background-color: {{ background_color }}">{{ mouse.get_state_display }}</td>
                        <td style="background-color: {{ background_color }}">{{ mouse.cull_date }}</td>
                        <td style="background-color: {{ background_color }}">{{ mouse.weaned|yesno:"Yes,No" }}</td>
                        <td style="background-color: {{ background_color }}">{{ mouse.weaned_date }}</td>
                        <td style="background-color: {{ background_color }}">{{ mouse.genotype }}</td>
                    </tr>
                    {% endwith %}
                {% else %} <!-- Any toher state of mouse -->
                    {% with background_color='rgb(239, 238, 238)' %} <!-- Default background -->
                    <tr>
                        <td style="background-color: {{ background_color }}">
                            <a href="{% url 'view_mouse' mouse.mouse_id %}">{{ mouse.mouse_id }}</a>
                        </td>
                        <td style="background-color: {{ background_color }}">{{ mouse.strain.name }}</td>
                        <td style="background-color: {{ background_color }}">{{ mouse.tube_id }}</td>
                        <td style="background-color: {{ background_color }}">{{ mouse.dob }}</td>
                        <td style="background-color: {{ background_color }}">{{ mouse.get_sex_display }}</td>
                        <td style="background-color: {{ background_color }}">
                            {% if mouse.father %}
                                <a href="{% url 'view_mouse' mouse.father.mouse_id %}">Mouse {{ mouse.father.mouse_id }}</a>
                            {% else %}
                                N/A
                            {% endif %}
                        </td>
                        <td style="background-color: {{ background_color }}">
                            {% if mouse.mother %}
                                <a href="{% url 'view_mouse' mouse.mother.mouse_id %}">Mouse {{ mouse.mother.mouse_id }}</a>
                            {% else %}
                                N/A
                            {% endif %}
                        </td>
                        <td style="background-color: {{ background_color }}">{{ mouse.get_earmark_display }}</td>
                        <td style="background-color: {{ background_color }}">{{ mouse.clipped_date }}</td>
                        <td style="background-color: {{ background_color }}">{{ mouse.get_state_display }}</td>
                        <td style="background-color: {{ background_color }}">{{ mouse.cull_date }}</td>
                        <td style="background-color: {{ background_color }}">{{ mouse.weaned|yesno:"Yes,No" }}</td>
                        <td style="background-color: {{ background_color }}">{{ mouse.weaned_date }}</td>
                        <td style="background-color: {{ background_color }}">{{ mouse.genotype }}</td>
                    </tr>
                    {% endwith %}
                {% endif %}
            {% endfor %}
        {% else %}
            <tr>
                <td colspan="30">No mice found.</td> <!-- Display text if there are no mice in database -->
            </tr>
        {% endif %}
    </tbody>
    
</table>
{% if user.role == 'leader' %} <!-- If user has role leader -->
<a href="{% url 'index' %}" class="btn btn-primary add-record-btn" style="max-width: max-content;"> <!-- Give them additional accesses -->
    Admin Management
</a>
{% endif %}

{% endblock %}
