{% extends 'base.html' %}

{% block content %}
    <div class="d-flex justify-content-center pt-5">
        <div class="col-md-6">
            <h1>Password Reset</h1>
            <p>Enter your email address to receive a password reset link.</p>
            <br>
            <form method="post">
                {% csrf_token %}
                {{ form.as_p }}
                <button type="submit" class="btn btn-primary w-100">Reset My Password</button>
            </form>
        </div>
    </div>
{% endblock %}