{% load static %}
<html lang="en">
<body>
    <!-- <img src="https://res.cloudinary.com/dxede3wdt/image/upload/f_auto,q_auto/kmlddbq5ezpitijzakei" alt="Logo" width="200"> -->
    <img src="https://res.cloudinary.com/dxede3wdt/image/upload/co_rgb:0D6EFD,e_colorize/kmlddbq5ezpitijzakei" alt="Logo" width="200">
    <h1>Hi {{ user.get_username }},</h1>
    <p>You're receiving this email because you requested a password reset for your user account at MouseMetrics.</p>
    <p>Please go to the following page and choose a new password:</p>
    <a href="{{ protocol }}://{{ domain }}{% url 'password_reset_confirm' uidb64=uid token=token %}">{{ protocol }}://{{ domain }}{% url 'password_reset_confirm' uidb64=uid token=token %}</a>
    <p>If you didn't request this, you can safely ignore this email.</p>
    <p>Your username, in case you've forgotten: {{ user.get_username }}</p>
    <p>Thanks,</p>
    <p>The MouseMetrics team</p>
</body>
</html>